@model IEnumerable<rpaapp.Models.Document>
@* @model IEnumerable<rpaapp.Models.Pdf> *@
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <table class="table table-hover">  
        <thead>
            <th>Name</th>
            <th>Size</th>
            <th>Upload time</th>
        </thead> 
        <tbody>
            @foreach (var item in Model)
            {
                var mb = @item.fsize / 1000000.0;
                <tr>
                    <td>@* 
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@item.guid">@item.fname</a> *@
                        <a asp-action="Details" asp-controller="Txts" asp-route-id="@item.fguid">@item.pdfname</a>
                    </td>
                    <td>@Math.Round(mb, 2) MB</td>
                    <td>@item.uploaded.ToString("dd.MM.yyyy. H:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
