@model rpaapp.Models.Txt

@{
    ViewData["Title"] = "Invoice details";
    var temp = Model.DocId;
    string vis = (string)ViewData["visible"];
}

<div style="padding: 0 15px 0 15px;">
    <h3>Review data</h3>

    <hr />
    <div class="row" style="display: flex; flex-direction: row;">
        <div class="col-md-4">
            <form asp-action="Resolve" asp-route-id="@Model.Id" id="frm" name="frm" enctype="multipart/form-data"> 
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-8">
                    <b><label asp-for="Name"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="Name" class="form-control" style="height: 25px;" disabled required/>
                    }
                    else
                    {
                        <input asp-for="Name" class="form-control" style="height: 25px;" required/>
                    }
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <b><label asp-for="Group" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="Group" class="form-control" style="height: 25px;" disabled required/>
                    }
                    else
                    {
                        <input asp-for="Group" class="form-control" style="height: 25px;" required/>
                    }
                    <span asp-validation-for="Group" class="text-danger"></span>
                </div>
                @if(vis == "true")
                {
                    var slist = new SelectList(System.Enum.GetValues(typeof(InvoiceType)));
                    <div class="form-group col-md-8">
                    <b><label asp-for="InvoiceType" class="control-label"></label></b>
                        @if(Model.isReviewed)
                        {
                            <select asp-for="InvoiceType" style="padding: 0px 10px;" class="form-control" asp-items="@slist" disabled required>
                                <option selected value="">--Select invoice type--</option>
                            </select>
                        }
                        else 
                        {
                            <select asp-for="InvoiceType" style="padding: 0px 10px;" class="form-control" asp-items="@slist" required>
                                <option selected value="">--Select invoice type--</option>
                            </select>
                        }
                    </div>
                }
                @if(vis == "true")
                {
                    <div class="form-group col-md-8">
                        <b><label asp-for="State" class="control-label"></label></b>
                        @if(Model.isReviewed)
                        {
                            <input asp-for="State" class="form-control" style="height: 25px;" disabled />
                        }
                        else 
                        {
                        <input asp-for="State" class="form-control" style="height: 25px;" />
                        }
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                }
                <div class="form-group col-md-8">
                    <b><label asp-for="VAT" class="control-label"></label></b>
                        @if(Model.isReviewed)
                        {
                            <input asp-for="VAT" class="form-control" style="height: 25px;" disabled required/>
                        }
                        else
                        {
                            <input asp-for="VAT" class="form-control" style="height: 25px;" required/>
                        }
                    <span asp-validation-for="VAT" class="text-danger"></span>
                </div>
                @if(vis == "true")
                {
                    <div class="form-group col-md-8">
                        <b><label asp-for="BillingGroup" class="control-label"></label></b>
                        @if(Model.isReviewed)
                        {
                            <input asp-for="BillingGroup" class="form-control" style="height: 25px;" disabled />
                        }
                        else 
                        {
                            <input asp-for="BillingGroup" class="form-control" style="height: 25px;" />
                        }
                        <span asp-validation-for="BillingGroup" class="text-danger"></span>
                    </div>
                }
                @* @if(vis == "true")
                {
                <div class="form-group col-md-8">
                    <b><label asp-for="IBAN" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="IBAN" class="form-control" style="height: 25px;" disabled />
                    }
                    else 
                    {
                        <input asp-for="IBAN" class="form-control" style="height: 25px;" />
                    }
                    <span asp-validation-for="IBAN" class="text-danger"></span>
                </div>
                } *@
                @* @if(vis == "true")
                {
                <div class="form-group col-md-8">
                    <b><label asp-for="VATobligation" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="VATobligation" class="form-control" style="height: 25px;" disabled />
                    }
                    else 
                    {
                        <input asp-for="VATobligation" class="form-control" style="height: 25px;" />
                    }
                    <span asp-validation-for="VATobligation" class="text-danger"></span>
                </div>
                } *@
                <div class="form-group col-md-8">
                    <b><label asp-for="InvoiceNumber" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="InvoiceNumber" class="form-control" style="height: 25px;" disabled required/>
                    }
                    else 
                    {
                        <input asp-for="InvoiceNumber" class="form-control" style="height: 25px;" required/>
                    }
                    <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <b><label asp-for="InvoiceDate" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="InvoiceDate" class="form-control" style="height: 25px;" disabled required/>
                    }
                    else 
                    {
                        <input asp-for="InvoiceDate" class="form-control" style="height: 25px;" required/>
                    }
                    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <b><label asp-for="InvoiceDueDate" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="InvoiceDueDate" class="form-control" style="height: 25px;" disabled required/>
                    }
                    else 
                    {
                        <input asp-for="InvoiceDueDate" class="form-control" style="height: 25px;" required/>
                    }
                    <span asp-validation-for="InvoiceDueDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <b><label asp-for="Neto" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="Neto" class="form-control" style="height: 25px;" disabled required/>
                    }
                    else 
                    {
                        <input asp-for="Neto" class="form-control" style="height: 25px;" required/>
                    }
                    <span asp-validation-for="Neto" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <b><label asp-for="Currency" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="Currency" class="form-control" style="height: 25px;" disabled required/>
                    }
                    else 
                    {
                        <input asp-for="Currency" class="form-control" style="height: 25px;" required/>
                    }
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <b><label asp-for="Bruto" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="Bruto" class="form-control" style="height: 25px;" disabled required/>
                    }
                    else 
                    {
                        <input asp-for="Bruto" class="form-control" style="height: 25px;" required/>
                    }
                    <span asp-validation-for="Bruto" class="text-danger"></span>
                </div>
                @if(vis == "true")
                {
                <div class="form-group col-md-8">
                    <b><label asp-for="ReferenceNumber" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <input asp-for="ReferenceNumber" class="form-control" style="height: 25px;" disabled required/>
                    }
                    else 
                    {
                        <input asp-for="ReferenceNumber" class="form-control" style="height: 25px;" required/>
                    }
                    <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
                </div>
                }
                @if(vis == "true")
                {
                    <div class="form-group col-md-8">
                        <b><label asp-for="PaymentReference" class="control-label"></label></b>
                        @if(Model.isReviewed)
                        {
                            <input asp-for="PaymentReference" class="form-control" style="height: 25px;" disabled />
                        }
                        else 
                        {
                            <input asp-for="PaymentReference" class="form-control" style="height: 25px;" />
                        }
                        <span asp-validation-for="PaymentReference" class="text-danger"></span>
                    </div>
                }
                <div class="form-group col-md-8">
                    <b><label asp-for="ProcessType" class="control-label"></label></b>
                    @if(Model.isReviewed)
                    {
                        <select asp-for="ProcessTypeId" class="form-control" asp-items="@ViewBag.teams" disabled required>
                            <option value="">--Select process--</option>
                        </select>
                    }
                    else 
                    {
                        <select asp-for="ProcessTypeId" class="form-control" asp-items="@ViewBag.teams" required>
                            <option value="">--Select process--</option>
                        </select>
                    }
                    <span asp-validation-for="ProcessTypeId" class="text-danger"></span>
                </div>  
                <div class="form-group" style="padding-top: 20px;">
                    <input type="submit" value="OK" class="btn btn-primary" style="background-color: #034791;" />
                    <a asp-controller="Home" asp-action="Dashboard" class="btn btn-primary" style="padding-left: 10px; background-color: #034791;" asp-route-id="@Model.DocId">Back</a>
                </div> 
            </form>
        </div>
        <div class="col-md-8">
            <div class="row">
                @{int c = 1;}
                @if(Model.pngNames != null)
                {
                    @foreach (var item in Model.pngNames.Split('|'))
                    {
                        <img id="myImg" class="mimg" style="width: 100%; height: auto;" src="~/Document/@temp/@item">

                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                        c++;
                    }
                }
            </div>
        </div>
    </div>
</div>

<div style="padding-top: 25px; padding-left: 12px;">
    <a asp-action="Delete" asp-controller="Home" asp-route-gd="@Model.DocId" class="btn btn-danger">Delete</a>
</div>

<script>

var modal = document.getElementById("myModal");
var i;
var imgs = document.getElementsByClassName("mimg");
var modalImg = document.getElementById("img01");
for(i = 0; i < imgs.length; i++)
{
    imgs[i].onclick = function()
    {
        modal.style.display = "block";
        modalImg.src = this.src;
    } 
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>

<style>
.mimg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.mimg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1300px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
