@model IEnumerable<rpaapp.Models.Txt>

@{
    ViewData["Title"] = "Find invoices";
}

<div>
    <form asp-action="SearchMe">
        <input type="text" name="key" value="@ViewData["CurrentFilter"]">
        <input type="submit" value="Search" class="btn btn-primary">
        <p style="color: grey; font-style: italic;">*Search by Company Name, VAT or Invoice Number*</p>
    </form>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <th>Id</th>
            <th>Company Name</th>
            <th>VAT/OIB</th>
            <th>Invoice Number</th>
            <th>GUID</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.VAT</td>
                    <td><a asp-action="Details" asp-route-id="@item.DocId">@item.InvoiceNumber</a></td>
                    <td><a asp-action="FileDetails" asp-route-id="@item.DocId">@item.DocId</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="margin-top: 100px;">
    <p>*Click on the invoice number to see the invoice details (Net, Gross amount, currency etc.). Click on GUID to see file details (upload time, responsible person, etc.).
        Only up to last 50 invoices are shown when search by name/VAT is used. To search more precisely, search by invoice number.*</p>
</div>